# Pandas Data Frames

Today we will do a bit more work with data frames, and also practice with data types and sequences.

In [1]:
# import our standard set of packages

import urllib
import pandas as pd
import numpy as np
import seaborn
import matplotlib.pyplot as plt

For today we will work with a data set built from a sample of people being studied for kidney disease. We will start by loading the data from a csv file. I will do this here with a share link from google drive. In your own problems you just need to have the csv file in the same location as your Jupyter notebook file, and then put the name in quotes in the read_csv() command.

One difference with this file is that the names of the features (columns) are provided separately, so we have to add them as a list of names in the read_csv().

In [7]:
# Let's continue exploring the penguins data set (our first Case Study that we will work on together)

kidney_url = 'https://drive.google.com/uc?export=download&id=1R8H9Hno1_fu7ON6yQlk9jNQsTXG6loup'
data_names = ['age', 'blood pressure', 'specific gravity', 'albumin', 'sugar',
            'red blood cells', 'pus cell', 'pus cell clumps', 'bacteria',
            'blood glucose random', 'blood urea', 'serum creatinine',
            'sodium', 'potassium', 'hemoglobin', 'packed cell volume',
            'white blood cell count', 'red blood cell count', 'hypertension',
            'diabetes mellitus', 'coronary artery disease', 'appetite',
            'pedal edema', 'anemia', 'class']

kidney_data = pd.read_csv(kidney_url, names=data_names)

# This is a large dataset, so we check by just displaying the first few rows using .head()
kidney_data.head()

,age,blood pressure,specific gravity,albumin,sugar,red blood cells,pus cell,pus cell clumps,bacteria,blood glucose random,...,packed cell volume,white blood cell count,red blood cell count,hypertension,diabetes mellitus,coronary artery disease,appetite,pedal edema,anemia,class
0,48,80,1.020,1,0,?,normal,notpresent,notpresent,121,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7,50,1.020,4,0,?,normal,notpresent,notpresent,?,...,38,6000,?,no,no,no,good,no,no,ckd
2,62,80,1.010,2,3,normal,normal,notpresent,notpresent,423,...,31,7500,?,no,yes,no,poor,no,yes,ckd
3,48,70,1.005,4,0,normal,abnormal,present,notpresent,117,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51,80,1.010,2,0,normal,normal,notpresent,notpresent,106,...,35,7300,4.6,no,no,no,good,no,no,ckd

There are two questions that we always ask as we start to deal with a new data set. Well really three, but we have already dealt with the first:  What are the feature names.

The second question is:  Is there missing data and what symbol was used to represent it?

Q1:  Can you identify from just the first few rows what symbol was used by the data collectors to represent missing data? Put that symbol as a string in the object below:

In [8]:
# Enter a string with the symbol used for missing data

data_missing =

We then rerun the read_csv() command passing it the parameter na_values = data_missing

Note that generally you can pass na_values as a list of all of the symbols used in the data to represent missing values.

In [9]:
kidney_data = pd.read_csv(kidney_url, names=data_names, na_values = data_missing)

# This is a large dataset, so we check by just displaying the first few rows using .head()
kidney_data.head()

,age,blood pressure,specific gravity,albumin,sugar,red blood cells,pus cell,pus cell clumps,bacteria,blood glucose random,...,packed cell volume,white blood cell count,red blood cell count,hypertension,diabetes mellitus,coronary artery disease,appetite,pedal edema,anemia,class
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35,7300,4.6,no,no,no,good,no,no,ckd

Notice now that the symbol NaN appears. This is Python's representation for missing data. This is better, the Pandas and Seaborn functions we will use are built to recognize that this value means missing data.

## Data Types

Now we are in a position to ask the third question we start with:  What types of data do we have for our features?

Usually this is obvious unless something has gone wrong. 

#### Q2: Just inspecting the columns above what do you see for data types?

#### Q3: Python has made some guesses about what types the data are. The possibilities are a little bigger than just the int, float, and str that we learned about, but not that much bigger. Use the command kidney_data.dtypes and see what we get. Did it match your answer above?

What does Pandas mean by 'object'?

A few of the columns have been misclassified. For now let's ignore them. The problem is that our data has some extra characters in some of it.

## Making a new Data Frame

Maybe by now you have noticed the last column:  class. The values for class are

In [10]:
set(kidney_data.loc[:, 'class'])

{'ckd', 'ckd\t', 'notckd'}

Well okay we have a small problem to fix there. The \t is a special charachter - it represents the "tab". We can remove it with a .rstrip() which removes the special characters from right side of a string.

For more on this see [pandas help](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.strip.html)

In [16]:
kidney_data.loc[:, 'class'] = kidney_data.loc[:, 'class'].str.rstrip()
set(kidney_data.loc[:, 'class'])

{'ckd', 'notckd'}

CKD stands for Chronic Kidney Disease, and NOTCKD stands for Not Chronic Kidney Disease. The long term task with this data is whether we can predict from the tests, whether a patient is likely to have Chronic Kidney Disease or not.

This is a great dataset for our class as it illustrates one of the fundamental problems we are going to have. It is BIG. 

#### Q4: Use some of the methods you learned last week to determine how many patients are in our sample:

But this dataset is also big in the sense that there are lots of features. That is also a problem. It is hard to visualizae many features at once and it is hard to know which features are the important ones.

There are two ways to make a data frame with fewer columns from a big one. 

### You can select the columns you want

Lets take a dataframe that has just the *age* and *blood pressure* features, together with the indicator for kidney disease.

In [22]:
kidney2_data = kidney_data.loc[:, ['age', 'blood pressure', 'class'] ]
kidney2_data.head()

    age  blood pressure class
0  48.0            80.0   ckd
1   7.0            50.0   ckd
2  62.0            80.0   ckd
3  48.0            70.0   ckd
4  51.0            80.0   ckd

You might want to verify that doing this did not modify the original dataframe (another big advantage over doing this in Python compared to a spreadsheet).

### You can drop the columns you don't want

Pandas also gives us a command for dropping columns.

In [36]:
num_cols = ['age',
 'blood pressure',
 'specific gravity',
 'albumin',
 'sugar',
 'blood glucose random',
 'blood urea',
 'serum creatinine',
 'sodium',
 'potassium',
 'hemoglobin', 
 'packed cell volume', 
 'white blood cell count',
 'red blood cell count']

In [37]:
# drop takes a list of columns (or rows) and then axis = 1 for columns and axis = 0 for rows.
kidney3_data = kidney_data.drop(num_cols, axis=1)
kidney3_data.head()

,red blood cells,pus cell,pus cell clumps,bacteria,hypertension,diabetes mellitus,coronary artery disease,appetite,pedal edema,anemia,class
0,NaN,normal,notpresent,notpresent,yes,yes,no,good,no,no,ckd
1,NaN,normal,notpresent,notpresent,no,no,no,good,no,no,ckd
2,normal,normal,notpresent,notpresent,no,yes,no,poor,no,yes,ckd
3,normal,abnormal,present,notpresent,yes,no,no,poor,yes,yes,ckd
4,normal,normal,notpresent,notpresent,no,no,no,good,no,no,ckd

### Q5: Practice using Groupby 

Use kidney2 to pratice using groupby for summarizing the data.

### Dealing with Categorical Data

Dealing with categorical data is harder. In this case. Let's see how hypertension relates to Chronic Kidney Disease.

#### Q6:  Make a data frame that includes just the hypertension variable and the class.

In [55]:
kidney4_data = kidney3_data.loc[:, ['hypertension', 'class']]
kidney4_data.head()

  hypertension class
0          yes   ckd
1           no   ckd
2           no   ckd
3          yes   ckd
4           no   ckd

Now we will build a new data frame that summarizes these results.

In [57]:
# Compute how many patients with hypertension had ckd

hypten = kidney4_data.loc[:, 'hypertension']=='yes'

# summing up a sequence of True/False values counts the number of True

sum(kidney4_data.loc[hypten, 'class'] == 'ckd')

147

Okay so note that there are 4 possibilities:  hypertension and ckd; hypertension and not-ckd; not-hypertension and ckd; and not hypertension and not ckd.

#### Q7: Find all 4 values by modifying the code above

In [61]:
# Put them together into a Data Frame by adjusting the values in the entry below. 
# Note you may have to try it a couple of times to figure out which number is put where by Pandas

pd.DataFrame([ [147, 147], [147, 147]], index = ['hyperten', 'not hyperten'], columns = ['ckd', 'notckd'])

              ckd  notckd
hyperten      147     147
not hyperten  147     147