# Data Types

## Reading List

Now as we go deeper into the details you should start reading ahead in our book. For this week we will be getting some background on Data Types, Sequences, and Tables. These are Chapters 4, 5, and 6 from our textbook.

Next week we will work on some visualizations, and then that will put us in a nice place to work on our first Case Study. Note that the course is a week ahead so we will have some flexiblity in whether we spend two weeks on the first Case Study or whether we move on to the next new topic.

## Python Data Types

Everything in Python has a Type and you can always check on what Type Python has classified an object as. There are lots of data types (you can even define your own if you need them).

In [1]:
type(3)

int

In [3]:
# objects inheret the type they point to
x = 3
type(x)

int

In [4]:
type(3.0)

float

In [10]:
# strings are a basic type in Python, and one of the real strengths of the language
# are the tools it includes for working with strings

type('dad')

str

In [7]:
# functions have special types describing where they are from

# abs for example comes with Python and is called builtin
type(abs)

builtin_function_or_method

In [8]:
# np.sqrt() for example comes with the numpy package 
import numpy as np
type(np.sqrt)

numpy.ufunc

In [11]:
# lists are another basic type in Python

type( [1, 2, 3, 4])

list

In [13]:
# sets are another basic type in Python

type( {'dog', 'cat', 'bird'})

set

### Numbers

The two number types you see above are int and float. Numpy comes with a couple of others for dealing with very large or very small numbers, but they won't be important for us.

Python does dynamic typing. When you put two values together, if it has a rule for converting one it will apply it. This means for example:

In [14]:
# It recognizes when you are adding two integers

type(3+4)

int

In [15]:
# If you add an integer to a float it gives a float

type(3.0 + 4)

float

Generally speaking, divsion is not guarunteed to give an integer and so

In [17]:
type(4/2)

float

Some limitations to be aware of:  

1. floats can represent very large numbers, but there are some limitations - which depend on the specific computer you are using.
2. a float only keeps 15 or 16 significant digits. This is called limited precision and it means for example if you are adding very large numbers together, you may not get the exact result.
3. rounding errors mean that as you use floats in computations, the last few digits may be incorrect. The more computations you have done, the more digits of inaccuracy you may see.

In [23]:
# Very large numbers:  Note that 2e300 = 2*10**300 (remember that ** is exponentiation in 
# Python)

2e306 * 100

inf

In [26]:
# Numbers can also be too small

3e-322 /1000

0.0

In [28]:
# If the numbers have too many digits (and its not even that many) Python will make a mistake

2/3 - 0.6666666666666666666666666444333

0.0

In [31]:
# Finally note that if we compute the square root of two, Python makes a mistake

np.sqrt(2)*np.sqrt(2) - 2

4.440892098500626e-16

### Strings

As we have discussed a significant amount of data is in strings (think Twitter), and this is the partof the field where the advantages of software for doing analysis really start to come through. Here is a brief introduction to Strings in Python.

In [32]:
# Strings are given with either single or double quotes

'the dog barks'

'the dog barks'

In [33]:
"The dog barks"

'The dog barks'

In [35]:
'the' == "the"

True

The reason both quotes work is that sometimes we want to use one of those symbols inside a string.

In [36]:
"you're dog barks"

"you're dog barks"

In [38]:
# notice that doing it all with single quotes causes a problem

'you're dog barks'

SyntaxError: invalid syntax (<ipython-input-38-ec13bb1fcae9>, line 3)

We can operate on strings with addition.

In [39]:
'Greeley'+'Colorado'

'GreeleyColorado'

In [40]:
'Greeley'+' '+'Colorado'

'Greeley Colorado'

The empty string behaves like a zero

In [45]:
'Greeley' + '' + 'Colorado' == 'Greeley' + 'Colorado'

True

So notice that numbers could be both numbers and strings. So here is our first example of casting a type. The str() function takes a Python object and converts or casts it as a string.

It will produce an error if it cannot make it work.

In [49]:
# note you have to adjust the spacing
x = 2
str(2*x) + ' score and ' + str(4+3) + ' years ago ...'

'4 score and 7 years ago ...'

Likewise sometimes we will have some data that for some reason Python has read as a string, but we know is a number. We will be able to cast that as a number using int() and float().

In [51]:
int('3')

3

In [52]:
float('3')

3.0

Okay so the real power of Python though is it comes with a very large collection of tools for manipulating strings (we saw some examples in our introduction).

In [53]:
'What will this do?'.upper()

'WHAT WILL THIS DO?'

In [54]:
'Virgil'.replace('Vir', 'Nerd')

'Nerdgil'

In [56]:
# you could do this with variable names

x = 'breakfast'
y = x.replace('break', '')
z = y + ' break'
z

'fast break'

In [58]:
# one advantage of doing it this way is that we still know what x is

x

'breakfast'

You've seen some examples above of doing comparisons of strings (<, >, ==, <=, >=, != ) 

Note that last one is *not equal*

Python nicely displays a *True* or *False* based on the test.

An